body{
    font-size: 14px;
}
.error{
    color:red;
}
.login{
    font-size: 30px;
    color:green;
}
.btn1{
    font-size: 15px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 8px 10px;
    margin: 5px 10px;
    border-radius: 8px;
    border: 2px solid #ffff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE6 5%, #4890F1 61%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}
btn1:hover {
    color: white;
    background-position: right center;
    background-color: #4CAF50;}

.span1{
    border-radius: 5px;
}