<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class ="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field= "${person.name}" class="form-control">
        </label>
        <p class ="error" th:errors="${person.name}"></p>

    <div class="form-group">
        <label>Last Name
            <input th:field= "${person.lastName}" class="form-control">
        </label>
        <p class ="error" th:errors="${person.lastName}"></p>
    </div>
    </div>
    <div class="form-group">
        <label>Third Name
            <input th:field= "${person.thirdName}" class="form-control">
        </label>
        <p class ="error" th:errors="${person.thirdName}"></p>
    </div>
    </div>

    <div class="form-group">
        <label>Age
            <input th:field= "${person.age}" class="form-control">
        </label>
        <p class ="error" th:errors="${person.age}"></p>
    </div>
    <div class="form-group">
        <label>Salary
            <input th:field= "${person.salary}" class="form-control">
        </label>
        <p class ="error" th:errors="${person.salary}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input th:field= "${person.email}" class="form-control">
        </label>
        <p class ="error" th:errors="${person.email}"></p>
    </div>
    <div class="form-group">
        <label>Job Address
        <select th:field="${person.jobAddress}">
             <option th:each="jobAddress : ${types}"
                     th:value="${jobAddress}"
                     th:text="${jobAddress.displayName}">
             </option>
        </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value ="Submit" class="btn1">
        <input type="reset" value="Reset" class="btn1"/>
    </div>
</form>
</body>
</html>
