<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class ="container">

<header th:replace="fragments :: header"></header>
<form method="post">
        <th:block th:each="person : ${persons}">
            <div class="form-group">
                <label>
                    <span th:text="${person.name}"></span>
                    <input type="checkbox" name="personIds" th:value="${person.id}" class ="form-control">
                </label>
            </div>
        </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>