<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class ="container">

<header th:replace="fragments :: header"></header>

<h1>Congrats, person is found!</h1>
<table class="table table-stripped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Third Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Job Address</th>
    </tr>
    </thead>
    <tr th:each="findperson : ${findpersons}">
        <td th:text="${findperson.id}"></td>
        <td th:text="${findperson.name}"></td>
        <td th:text="${findperson.lastName}"></td>
        <td th:text="${findperson.thirdName}"></td>
        <td th:text="${findperson.age}"></td>
        <td th:text="${findperson.salary}"></td>
        <td th:text="${findperson.email}"></td>
        <td th:text="${findperson.jobAddress}"></td>
    </tr>
</table>
<h3 th:class="btn1" th:text="${accessTime}" ></h3>
<h3 th:class="btn1" th:text="'User Agent:' + ${userAgent}"></h3>
</body>
</html>
