<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class ="container">

<header th:replace="fragments :: header"></header>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Third Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Email</th>
            <th>Job Address</th>
        </tr>
    </thead>
    <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.name}"></td>
        <td th:text="${person.lastName}"></td>
        <td th:text="${person.thirdName}"></td>
        <td th:text="${person.age}"></td>
        <td th:text="${person.salary}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.jobAddress}"></td>
    </tr>
</table>

</body>
</html>
